:root {
    --bg: #ffffff;
    --text:#1b2631;
    --bg-alt: #c4d9e2;
    --accent: #2d6e97;
    --green: #40406f;
    --accent-alt: #1e4251;
    --orange-light: #98c4db;
    --light-gray: #bebebe;
    --gray: #757575;
	--gold: #f3c262;
	--bronze: #f6ddcc;
    --placeholder: #a3a3a3;
    --border-radius: 16px;
    --font: Rubik, sans-serif
}
html {
      overflow: hidden;
      height: 100%;
      position: fixed;
}

body {
    overflow: auto;
    height: 100%;
    position: relative;
}

* {
    font-family: var(--font, sans-serif)
}