:root {
    --bg: #ffffff;
    --text: #1b2631;
    --bg-alt: #96d1e8;
    --accent: #d4e6f1;
    --accent-alt: #d1f2eb;
    --error: #e74c3c;
    --light-gray: #bebebe;
    --gray: #757575;
    --green: #f4ecf7;
    --placeholder: #a3a3a3;
    --border-radius: 16px;
    --font: Rubik, sans-serif
}

html {
      overflow: hidden;
      height: 100%;
      position: fixed;
}

body {
    overflow: auto;
    height: 100%;
    position: relative;
}

* {
    font-family: var(--font, sans-serif)
}