:root {
    --bg: #EFEFEF;
    --text: #232323;
    --bg-alt: #FEFEFE;
    --accent: #95c8e0;
    --accent-alt: #6c8ea7;
    --error: #d18282;
    --light-gray: #bebebe;
    --gray: #757575;
    --green: #99cf97;
    --placeholder: #bcb5d7;
    --border-radius: 16px;
    --font: Rubik, sans-serif
}

html {
      overflow: hidden;
      height: 100%;
      position: fixed;
}

body {
    overflow: auto;
    height: 100%;
    position: relative;
}

* {
    font-family: var(--font, sans-serif)
}